server {
	#default por for https connections
	listen 443 ssl default_server;
	listen [::]:443 ssl default_server;

	#path to your ssl_certificate
	ssl_certificate ;
	#path to your ssl_certificate_key
	ssl_certificate_key ;

	#or your server name
	server_name alpha06.alphaedtech.org.br;

	location / {
		#reverse proxy to NodeJS service
		proxy_pass http://localhost:3000;
	}
}
server {
	#when connected in http (:80)
	#redirect to https (:443)
	listen 80;
	listen [::]:80;

	return https://alpha06.alphaedtech.org.br;
}