@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.body-login {
	background-image: url("../images/wallpaper-login.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
}

.black-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

#login-screen {
	width: 100%;
	height: 100%;
	display: flex;
	overflow: auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: var(--wine-color);
	border: none;
	position: relative;
	z-index: 2;
}

#login-modal {
	height: 100vh;
	padding: 5rem 0 2rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#login-form {
	background-color: var(--white-smoke);
	width: 27rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.9rem;
	border-radius: 8px;
	padding: 20px;
	position: relative;
	overflow: auto;
}

#login-form h1 {
	font-size: 2rem;
	margin-bottom: 20px;
	font-weight: 600;
	color: var(--wine-color);
}

#login-form label {
	align-self: flex-start;
	margin-bottom: 10px;
}

#data-login {
	padding-bottom: 2em;
}

#data-login input {
	display: flex;
	flex-direction: column;
	width: 25em;
	line-height: 1.5em;
	padding: 0.5em;
	margin-bottom: 1em;
	outline: none;
	border-radius: 20px;
	background-color: var(--white-smoke);
	border: 2px solid var(--wine-color);
}

#remember-password {
	display: flex;
	align-items: center;
	font-size: 0.9em;
	margin-bottom: 3em;
}

#remember-password label {
	display: flex;
	justify-content: center;
	align-items: center;
}

#remember-password input[type="checkbox"] {
	margin-right: 0.5em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 1.5em;
	height: 1.5em;
	border-radius: 5px;
	background-color: var(--white-smoke);
	border: 1.5px solid var(--wine-color);
	outline: none;
	cursor: pointer;
	position: relative;
}

#remember-password input[type="checkbox"]::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 1em;
	height: 1em;
	background-color: var(--wine-color);
	border-radius: 3px;
	opacity: 0;
	transition: opacity 0.2s;
}

#remember-password input[type="checkbox"]:checked::before {
	opacity: 1;
}

#remember-all-password {
	display: flex;
	justify-content: center;
}

#password-login-div {
	position: relative;
}

.toggle-password-btn-login {
	background-color: transparent;
	font-size: 1em;
	cursor: pointer;
	border-style: none;
	position: absolute;
	top: 55%;
	right: 5%;
}

#loginPage-btn {
	width: 10rem;
	padding: 0.5rem;
	margin-bottom: 1em;
	color: var(--white-smoke);
	background-color: var(--wine-color);
	border-radius: 8px;
	font-weight: bold;
	font-size: 1rem;
	border: none;
}

#loginPage-btn:hover {
	cursor: pointer;
	background-color: var(--blackberry);
}

.toast {
	position: fixed;
	bottom: -50px;
	left: 50%;
	transform: translateX(-50%);
	background-color: Var(--raspberry);
	color: var(--white-smoke);
	padding: 10px 20px;
	border-radius: 5px;
	z-index: 10;
	animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
	from {
		bottom: -50px;
	}

	to {
		bottom: 20px;
	}
}

.toast.hide {
	animation: slideOut 0.5s ease forwards;
}

@keyframes slideOut {
	from {
		bottom: 20px;
	}

	to {
		bottom: -50px;
	}
}


@media screen and (max-width: 425px) {
	#login-form {
		width: 100vw;
		height: 100vh;
		border-radius: 0;
	}

	#data-login input {
		width: 20em;
	}

	#remember-password {
		margin-left: 1em;
	}

	.toast {
		width: 12em;
		border-radius: 5px;
		z-index: 9999;
	}
}

@media screen and (max-height: 720px) {	
	#login-modal {
		height: 100vh;
	}
}

@media screen and (max-height: 560px) {
	#login-form {
		padding-top: 10em;
	}

}

@media screen and (max-height: 580px) {
	#login-form {
		padding-top: 15em;
	}

}

@media screen and (max-height: 490px) {
	#login-form {
		padding-top: 25em;
	}

}