body{
    background-color: var(--white-smoke);
    height: 100vh;
}
#menu{
    margin: 5%;
    border: 3px solid black; /*lembra de tirar depois*/
    height: 50vh;
    display: flex;
}
#dish-menu{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 15%;
    height: 100%;
}
.dish-type{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border: 2px solid var(--raspberry);
    font-weight: bolder;
    color: var(--raspberry);
    background: transparent;
    font-size: large;
}
.dish-type:hover{
    color: white;
    background-color: var(--raspberry);
}
.dish-icon{
    padding: 0 .5rem 0 0;
    width: 2.5rem;
}
.selected{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border: 2px solid var(--raspberry);
    font-weight: bolder;
    color: white;
    background: var(--cherry);
    font-size: large;
}