#newEvent-basic-modal {
	position: fixed;
	background-color: var(--blackberry-transparent);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
}

#newEvent-basic-modal > div {
	background: var(--white-smoke);
	padding: 1rem;
	border-radius: var(--border-radius-1x);
	max-width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	& > img {
		width: 50%;
	}
}

#newEvent-basic-modal > div > div {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	& > button {
		font-size: 0.9rem;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		height: 3rem;
		width: 35%;
		background-color: var(--white-smoke);
		border: 2px solid var(--raspberry);
		color: var(--raspberry);
		border-radius: var(--border-radius-1x);
		transition: all 500ms;
		&:hover {
			background-color: var(--raspberry);
			color: var(--white-smoke);
			&::before {
				filter: brightness(10);
			}
		}
		&::before {
			display: inline-block;
			margin-right: 5px;
			content: "";
			background: url("/assets/icons/cancel.svg") center no-repeat;
			background-size: contain;
			width: 0.9rem;
			height: 0.9rem;
			transition: all 500ms;
		}
	}
	& > button:last-child {
		background-color: var(--raspberry);
		color: var(--white-smoke);
		&:hover {
			filter: brightness(.8);
		}
		&::before {
			display: none;
		}
		&::after {
			display: inline-block;
			content: "";
			background: url("../icons/arrow-rigth.svg") center no-repeat;
			background-size: contain;
			margin-left: 5px;
			width: 0.9rem;
			height: 0.9rem;
		}
	}
}

#newEvent-basic {
	color: var(--blackberry);
	background-color: var(--white-smoke);
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	padding: 1rem 5%;
	& > * {
		width: 100%;
	}
	& > h2 {
		font-size: 2rem;
		font-weight: 900;
	}
}

#newEvent-basic-form {
	display: flex;
	flex-direction: column;
	& > * {
		width: 100%;
	}
}

#newEvent-basic-info {
	display: flex;
	flex-direction: column;
	& > * {
		width: 100%;
	}
}

#newEvent-basic-info > .newEvent-basic-genericInput,
#newEvent-basic-info > div > fieldset {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	border: none;
	& > * {
		width: 100%;
	}
	& > legend {
		font-size: 1rem;
		font-weight: 600;
	}
	& > label {
		font-size: 1rem;
		font-weight: 300;
		position: relative;
		&::before {
			background: url("../icons/text-icon.svg") no-repeat center;
			background-size: contain;
			content: "";
			position: absolute;
			font-weight: 900;
			top: 36px;
			left: 8px;
			display: inline-block;
			height: 1rem;
			width: 1rem;
		}
	}
	& > input {
		box-sizing: border-box;
		border: none;
		border-radius: var(--border-radius-1x);
		background-color: var(--blackberry);
		color: var(--white-smoke);
		padding: 10px 10px 10px 30px;
	}
}

#newEvent-basic-info > div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	& > * {
		width: 40%;
	}
	& > fieldset > label[for="newEvent-basic-date"]::before {
		background-image: url("../icons/calendar-red.svg");
	}
	& > fieldset > label[for="newEvent-basic-time"]::before {
		background-image: url("../icons/clock.svg");
	}
}

#newEvent-basic-btns {
	display: flex;
	justify-content: space-between;
	height: 3rem;
	& > * {
		align-items: center;
		background-color: var(--white-smoke);
		border-radius: var(--border-radius-1x);
		border: 1px solid var(--raspberry);
		color: var(--raspberry);
		display: flex;
		justify-content: center;
		font-weight: 600;
		cursor: pointer;
		height: 100%;
		font-size: 1rem;
		transition: all 300ms;
		width: 25%;
		&:hover {
			background-color: var(--raspberry);
			color: var(--white-smoke);
			&::before {
				filter: brightness(10);
			}
		}
		&::before {
			background: url("../icons/cancel.svg") center no-repeat;
			background-size: contain;
			content: "";
			margin-right: 5px;
			display: inline-block;
			width: 1rem;
			height: 1rem;
			transition: all 300ms;
		}
	}
	& > button:last-child {
		background-color: var(--raspberry);
		color: var(--white-smoke);
		filter: brightness(1);
		&:hover {
			border: 1px solid var(--blackberry);
			background-color: var(--blackberry);
		}
		&::before {
			background-image: url("../icons/send-latter.svg");
		}
		&::after {
			background: url("../icons/arrow-rigth.svg") center no-repeat;
			background-size: contain;
			content: "";
			margin-left: 5px;
			display: inline-block;
			width: 1rem;
			height: 1rem;
		}
	}
	& > #newEvent-basic-btns-save::before {
		background-image: none;
	}
}

#newEvent-basic-form > #newEvent-basic-btns > .newEvent-basic-btns-disabled {
	background-color: var(--white-smoke);
	color: var(--raspberry);
}

@media screen and (max-width: 900px) {
	#newEvent-basic-info > div > * {
		width: 49%;
	}

	#newEvent-basic-btns {
		& > * {
			width: 40%;
		}
	}
}

@media screen and (max-width: 700px) {
	#newEvent-basic-info > div {
		flex-direction: column;
		& > * {
			width: 100%;
		}
	}

	#newEvent-basic-btns {
		& > * {
			width: 40%;
		}
	}
}

@media screen and (max-width: 620px) {
	#newEvent-basic-modal > div > div {
		flex-direction: column;
		& > button{
			width: 100%;
		}
		& > button:first-child {
			margin-bottom: 1rem;
		}
	}
}
@media screen and (max-width: 600px) {
	#newEvent-basic-btns {
		& > * {
			width: 49%;
		}
	}
}

@media screen and (max-width: 490px) {
	#newEvent-basic-btns {
		flex-direction: column-reverse;
		height: auto;
		& > * {
			height: 3rem;
			margin-bottom: 1rem;
			width: 100%;
		}
	}
}

@media screen and (max-width: 360px) {
	#newEvent-basic-info > .newEvent-basic-genericInput,
	#newEvent-basic-info > div > fieldset {
		& label {
			font-size: 0.9rem;
			&::before {
				top: 31px;
			}
		}
	}
}

@media screen and (max-width: 321px) {
	#newEvent-basic-info
		> .newEvent-basic-genericInput
		> label[for="newEvent-basic-name"]::before {
		top: 51px;
	}
}
