@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--wine-color: #670029;
	--white-smoke: #f2f7f2;
	--blackberry: #311432;
	--cherry: #a73e5c;
	--raspberry: #b22222;

	--border-radius-1x: 8px;
	--border-radius-2x: 16px;
	--border-radius-3x: 24px;
}

* {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

.body-landing {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: background-image 0.5s ease;
	height: calc(100vh + 15rem);
	position: relative;
	font-family: "Poppins", sans-serif;
}

#main-container-landing {
	box-sizing: border-box;
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f2f7f2da;
	border-radius: 1.2rem;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
	padding: 0rem 2.5rem 2.5rem;
}

#side-ball-one {
	position: absolute;
	top: 8px;
	left: 8px;
}

#side-ball-two {
	position: absolute;
	bottom: 8px;
	left: 8px;
}

#side-ball-three {
	position: absolute;
	left: calc(100% - 28px);
	top: 8px;
}

#side-ball-four {
	position: absolute;
	left: calc(100% - 28px);
	bottom: 8px;
}

#side-table-ornament {
	position: absolute;
	left: calc(100% - 28px);
	top: 50%;
	transform: translateY(-50%);
}

.header-landing {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.5rem 0rem;
	color: var(--wine-color);
	position: relative;

	& div {
		display: flex;
		gap: 12px;
	}

	& h3 {
		font-size: 2.5rem;
		font-weight: 500;
		margin: 0px;
	}

	& h3::first-letter {
		font-weight: bold;
	}

	& h3::first-line:nth-child(7) {
		font-size: 2.5rem;
	}
}

#header-logo {
	width: 2rem;
}

#header-central-container {
	display: flex;
}

.header-button {
	margin-left: 12px;
	padding: 2px 16px;
	border-radius: 4px;
	font-size: 1.2rem;
	border: 2px solid var(--raspberry);
}

#login-btn {
	background-color: inherit;
	color: var(--raspberry);
	transition: background-color ease 0.5s;
}

#login-btn:hover {
	background-color: var(--raspberry);
	color: var(--white-smoke);
	cursor: pointer;
}

#register-btn {
	background-color: var(--raspberry);
	color: var(--white-smoke);
	transition: background-color border-color ease 0.5s;
}

#register-btn:hover {
	background-color: var(--blackberry);
	border-color: var(--blackberry);
	cursor: pointer;
}

.main-landing {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

#middle-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	& img {
		height: 20rem;
	}
}

#content-section {
	width: 40%;
	width: 50%;
	color: var(--blackberry);

	& h1 {
		margin: 0px 0px 16px;
		font-weight: bolder;
		font-size: 2.1rem;
		line-height: 40px;
	}

	& p {
		font-weight: 600;
		font-size: 1rem;
		line-height: 1.2rem;
		max-width: 25rem;
	}

	& span {
		color: var(--cherry);
	}

	& button {
		background-color: var(--raspberry);
		border: 0px;
		padding: 10px 0px;
		width: 15rem;
		color: var(--white-smoke);
		font-size: 1rem;
		font-weight: 500;
		border-radius: 4px;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
		cursor: pointer;
		transition: background-color ease 0.4s;
	}

	& button:hover {
		background-color: var(--wine-color);
	}
}

#card-section-landing {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 12px;

	& div:nth-child(2) {
		background-color: var(--white-smoke);
		border-color: #e2e2e2;
	}

	& div:nth-child(2) p {
		color: var(--blackberry);
	}
}

.card-landing {
	box-sizing: border-box;
	max-width: 17rem;
	padding: 12px;
	border-radius: 8px;
	background-color: var(--cherry);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	border: 1px solid var(--cherry);
	text-align: center;
	opacity: 0;
	transform: translateX(-100px);
	transition: opacity 1.5s ease, transform 1.5s ease;

	& h4 {
		color: var(--blackberry);
		font-size: 1.1rem;
		font-weight: 700;
		margin: 5px 0px;
	}

	& p {
		color: var(--white-smoke);
		font-size: 0.9rem;
		font-weight: 400;
	}
}

.card-animation {
	opacity: 1;
	transform: translateX(0);
}
